@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-sui-dark text-sui-text font-sans antialiased;
  /* Grid Background Effect */
  background-size: 50px 50px;
  background-image: linear-gradient(
      to right,
      rgba(48, 54, 61, 0.2) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(48, 54, 61, 0.2) 1px, transparent 1px);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0d1117;
}
::-webkit-scrollbar-thumb {
  background: #30363d;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4da2ff;
}
